body {
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

h1 {
    color: #000;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

p {
    color: #ffcc00;
    font-size: 50px;
    line-height: 1.5;
    text-align: center;
    background: #ff00ee;
}